<>
  <effect meta={{}} run={async () => {}} />
  <div class={`flex self-stretch flex-col items-start justify-start bg-white`}>
    <div class={`flex flex-col items-start justify-start`}>
      <div
        class={`flex flex-col items-start justify-start`}
        style={`height: 846px; min-height: 846px; max-height: 846px;`}
      >
        <div
          class={`flex self-stretch space-x-14 items-center justify-center px-24 py-2 bg-white bg-opacity-50 shadow`}
          style={`width: 1459px; min-width: 1459px; max-width: 1459px; height: 93px; min-height: 93px; max-height: 93px;`}
        >
          <div class={`flex flex-1 items-start justify-start p-2.5`}>
            <div class="flex flex-col items-start justify-start">
              <img
                src="/fimgs/117_493.x1.svg"
                class="flex items-center justify-center"
                style="width: 202px; min-width: 202px; max-width: 202px; height: 57px; min-height: 57px; max-height: 57px;"
              />
            </div>
          </div>
          <div class={`flex flex-1 space-x-8 items-center justify-start`}>
            <button
              class={`flex self-stretch items-center justify-center p-2 rounded-lg`}
            >
              <div class="text-2xl font-semibold text-center text-gray-900">
                Home
              </div>
            </button>
            <button class="flex self-stretch items-center justify-center p-2 rounded-lg">
              <div class="text-2xl font-semibold text-center text-gray-400">
                Features
              </div>
            </button>
            <button class="flex self-stretch items-center justify-center p-2 rounded-lg">
              <div class="text-2xl font-semibold text-center text-gray-400">
                Login
              </div>
            </button>
            <button
              class="flex flex-col items-start justify-start p-2.5"
              style="width: 230px; min-width: 230px; max-width: 230px;"
            >
              <div class="flex items-center justify-center px-4 py-2 bg-blue-600 shadow rounded-3xl">
                <div class="text-2xl font-semibold text-center text-gray-50">
                  Get Started
                </div>
              </div>
            </button>
          </div>
        </div>
        <div
          class={`flex flex-col items-start justify-center px-24 py-4`}
          style={`height: 753px; min-height: 753px; max-height: 753px;`}
        >
          <div class={`flex flex-1 self-stretch items-start justify-start`}>
            <div
              class={`flex flex-1 self-stretch space-x-12 items-center justify-center`}
            >
              <div class="flex flex-1 self-stretch flex-col space-y-9 items-start justify-center">
                <div class="flex items-center justify-start">
                  <div class={`text-5xl font-bold leading-10`}>
                    Easily schedule your task without any hassle
                  </div>
                </div>
                <div
                  class={`flex self-stretch items-start justify-start py-1.5`}
                >
                  <button
                    class={`flex flex-1 flex-col items-start justify-start p-2.5`}
                  >
                    <div class="flex items-center justify-center px-4 py-2 bg-blue-600 shadow rounded-3xl">
                      <div class="text-2xl font-semibold text-center text-gray-50">
                        Explore
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <div class={`flex flex-col items-center justify-center p-2.5`}>
                <div class={`flex flex-col items-center justify-center`}>
                  <div class="flex flex-col items-start justify-start bg-white">
                    <img
                      src="/fimgs/117_62.x1.svg"
                      class="flex flex-col items-start justify-start"
                      style="width: 552.71px; min-width: 552.71px; max-width: 552.71px; height: 391.21px; min-height: 391.21px; max-height: 391.21px;"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center px-24 py-4 bg-green-50"
        style="height: 753px; min-height: 753px; max-height: 753px;"
      >
        <div class="flex flex-1 self-stretch space-x-12 items-center justify-center">
          <img
            src="/fimgs/125_259.x1.svg"
            class="flex flex-col items-start justify-start p-2.5"
            style="width: 626px; min-width: 626px; max-width: 626px; height: 446.15px; min-height: 446.15px; max-height: 446.15px;"
          />
          <div class="flex flex-1 self-stretch items-center justify-start">
            <div class="flex flex-1 self-stretch flex-col items-start justify-center">
              <div class="text-4xl font-medium leading-10 text-gray-700">
                Makes it easier to plan your tasks and work from anywhere so you
                never forget anything again.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-start justify-start"
        style="height: 808px; min-height: 808px; max-height: 808px;"
      >
        <div class="flex flex-col items-start justify-start">
          <div
            class="flex self-stretch flex-col items-center justify-center px-24 py-4 bg-white"
            style="height: 142px; min-height: 142px; max-height: 142px;"
          >
            <div class={`text-5xl font-semibold text-center text-gray-900`}>
              Features
            </div>
          </div>
          <div class="flex flex-col items-start justify-center px-24 py-4">
            <div class="flex flex-1 self-stretch items-start justify-start">
              <div class="flex flex-1 self-stretch space-x-12 items-start justify-start">
                <div class="flex flex-1 self-stretch flex-col space-y-4 items-start justify-center">
                  <div class="text-2xl font-bold leading-10 text-gray-400">
                    REALIBLE
                  </div>
                  <div class="text-4xl font-bold leading-10 text-gray-900">
                    Handle your tasks <br />
                    stress-free
                  </div>
                  <div>
                    Set reminders to make sure your tasks won't slip away. With
                    easy-to-setup reminders, you can now be certain you would
                    never forget any critical things.
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <img
                    src="/fimgs/117_497.x1.svg"
                    class="flex flex-col items-start justify-start p-2.5"
                    style="width: 634.15px; min-width: 634.15px; max-width: 634.15px; height: 403.58px; min-height: 403.58px; max-height: 403.58px;"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-start justify-center px-24 py-4"
        style="height: 666px; min-height: 666px; max-height: 666px;"
      >
        <div class="flex flex-1 self-stretch space-x-12 items-start justify-start">
          <div class="flex flex-1 self-stretch items-start justify-start">
            <div class="flex self-stretch flex-col items-start justify-start">
              <img
                src="/fimgs/117_496.x1.svg"
                class="flex items-start justify-start"
                style="width: 698.42px; min-width: 698.42px; max-width: 698.42px; height: 446.34px; min-height: 446.34px; max-height: 446.34px;"
              />
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-center">
            <div class="text-2xl font-bold leading-10 text-gray-400">
              SIMPLE
            </div>
            <div class="text-4xl font-bold leading-10 text-gray-900">
              Get important things done quicker
            </div>
            <div class="text-2xl leading-10 text-gray-800">
              Organize your tasks by arranging crucial ones first. Intuitively
              prioritize your tasks so you can focus more on the things that
              truly matters
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-start justify-center px-24 py-4"
        style="height: 666px; min-height: 666px; max-height: 666px;"
      >
        <div class="flex flex-1 self-stretch items-start justify-start">
          <div class="flex flex-1 self-stretch space-x-12 items-start justify-start">
            <div class="flex flex-1 self-stretch flex-col space-y-4 items-start justify-center">
              <div class="text-2xl font-bold leading-10 text-gray-400">
                POWERFUL
              </div>
              <div class="text-4xl font-bold leading-10 text-gray-900">
                Boost your productivity significantly
              </div>
              <div class="text-2xl leading-10 text-gray-800">
                Analyze and learn how you manage tasks. Through
                beautifully-presented graph, understand your unique task
                management style and increase your efficiency remarkably
              </div>
            </div>
            <div class="flex self-stretch flex-col items-start justify-start">
              <img
                src="/fimgs/117_495.x1.svg"
                class="flex flex-col items-center justify-center p-2.5"
                style="width: 633.73px; min-width: 633.73px; max-width: 633.73px; height: 403.58px; min-height: 403.58px; max-height: 403.58px;"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col items-start justify-start">
        <div class="flex self-stretch flex-col items-center justify-center px-24 py-2 bg-green-50">
          <div class="text-5xl font-semibold text-center text-gray-900">
            Contact
          </div>
        </div>
        <div
          class={`flex self-stretch items-center justify-center bg-green-50`}
        >
          <div class="flex flex-1 items-center justify-center">
            <div
              class={`flex self-stretch flex-col items-center justify-center p-24`}
              style={`width: 336px; min-width: 336px; max-width: 336px; height: 301px; min-height: 301px; max-height: 301px;`}
            >
              <img
                src="/fimgs/118_536.x1.svg"
                class="flex flex-col items-start justify-start"
                style="width: 136px; min-width: 136px; max-width: 136px; height: 101px; min-height: 101px; max-height: 101px;"
              />
            </div>
            <div
              class="flex flex-1 self-stretch flex-col items-start justify-center"
              style="height: 301px; min-height: 301px; max-height: 301px;"
            >
              <div class="flex space-x-8 items-center justify-start">
                <img
                  src="/fimgs/1_1838.x1.svg"
                  class="flex items-start justify-start"
                  style="width: 44px; min-width: 44px; max-width: 44px; height: 44px; min-height: 44px; max-height: 44px;"
                />
                <div class="text-2xl text-gray-700">
                  Jl. Jemur Andayani XV No.3, Jemur Wonosari, Kec. Wonocolo,
                  Kota Surabaya, Jawa Timur 60237
                </div>
              </div>
              <div class="flex space-x-8 items-center justify-start">
                <div class="flex items-start justify-start">
                  <img
                    src="/fimgs/1_1846.x1.svg"
                    style="width: 40px; min-width: 40px; max-width: 40px; height: 37.06px; min-height: 37.06px; max-height: 37.06px;"
                  />
                </div>
                <div class="text-2xl text-gray-700">+6231-60018666</div>
              </div>
              <div class="flex space-x-8 items-center justify-start">
                <div class="flex items-start justify-start">
                  <img
                    src="/fimgs/1_1851.x1.svg"
                    class="flex items-start justify-start"
                    style="width: 40px; min-width: 40px; max-width: 40px; height: 40px; min-height: 40px; max-height: 40px;"
                  />
                </div>
                <div class="text-2xl text-gray-700">cs@andromedia.co.id</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>