<>
  <effect meta={{}} run={async () => {}} />
  <div class={`flex self-stretch flex-col items-start justify-start bg-white`}>
    <div class={`flex flex-col items-start justify-start`}>
      <div
        class={`flex self-stretch space-x-14 items-center justify-center px-24 py-6 bg-white shadow`}
        style={`height: 136px; min-height: 136px; max-height: 136px;`}
      >
        <div class={`flex flex-1 items-center justify-start p-2.5`}>
          <div class={`flex items-center justify-center p-2.5`}>
            <div class={`flex items-center justify-center bg-white`}>
              <img
                class={`flex flex-col items-start justify-start`}
                style={`width: 78.47px; min-width: 78.47px; max-width: 78.47px; height: 72px; min-height: 72px; max-height: 72px;`}
                src="/fimgs/201_193.x1.png"
              />
              <div
                class={`flex items-center justify-center px-1.5 py-2 rounded-2xl`}
              >
                <div class="text-xl font-bold leading-10">YOUR-TODO</div>
              </div>
            </div>
          </div>
        </div>
        <div class={`flex flex-1 flex-col items-end justify-center`}>
          <div class={`flex space-x-2.5 items-center justify-center`}>
            <button
              class={`flex self-stretch items-center justify-center p-2 rounded-lg`}
              onClick="#home"
            >
              <div class="text-2xl font-semibold text-center text-gray-900">
                Home
              </div>
            </button>
            <button
              class={`flex self-stretch items-center justify-center p-2 rounded-lg`}
            >
              <div class="text-2xl font-semibold text-center text-gray-400">
                Features
              </div>
            </button>
            <div class="flex self-stretch items-center justify-center p-2 rounded-lg">
              <div class="text-2xl font-semibold text-center text-gray-400">
                Login
              </div>
            </div>
            <div class="flex self-stretch items-center justify-center px-4 py-2 bg-blue-600 shadow rounded-3xl">
              <div class="text-2xl font-semibold text-center text-gray-50">
                Get Started
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class={`flex flex-col items-start justify-start`}>
        <div
          class={`flex flex-col items-start justify-center px-24 py-4`}
          style={`height: 753px; min-height: 753px; max-height: 753px;`}
          id="home"
        >
          <div class={`flex flex-1 self-stretch items-start justify-start`}>
            <div
              class={`flex flex-1 self-stretch space-x-12 items-start justify-start`}
            >
              <div
                class={`flex flex-1 self-stretch flex-col space-y-9 items-start justify-center`}
              >
                <div class="text-5xl font-bold leading-10">
                  Easily schedule your task without any hassle
                </div>
                <div
                  class={`flex self-stretch items-start justify-start py-1.5`}
                >
                  <button
                    class={`flex flex-col items-center justify-center p-2.5`}
                  >
                    <div
                      class={`flex items-center justify-center px-4 py-2 bg-blue-600 shadow rounded-3xl`}
                    >
                      <div class="text-2xl font-semibold text-center text-gray-50">
                        Explore
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <img
                class={`flex flex-1 self-stretch flex-col items-center justify-center`}
                style={`width: 606px; min-width: 606px; max-width: 606px; height: 391.21px; min-height: 391.21px; max-height: 391.21px;`}
                src="/fimgs/1_477.x1.svg"
              />
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-start justify-center px-24 py-4 bg-green-50"
          style="height: 753px; min-height: 753px; max-height: 753px;"
        >
          <div class="flex flex-1 self-stretch items-start justify-start">
            <div class="flex flex-1 self-stretch space-x-12 items-start justify-start">
              <img
                class={`flex flex-1 self-stretch flex-col items-start justify-start`}
                style={`width: 606px; min-width: 606px; max-width: 606px; height: 426.15px; min-height: 426.15px; max-height: 426.15px;`}
                src="/fimgs/1_1205.x1.png"
              />
              <div class="flex flex-1 self-stretch flex-col items-start justify-center">
                <div class="text-4xl font-medium leading-10 text-gray-700">
                  Makes it easier to plan your tasks and work from anywhere so
                  you never forget anything again.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class={`flex flex-col items-center justify-center`}>
          <div class={`flex flex-col items-start justify-start`} id="features">
            <div
              class="flex self-stretch flex-col items-center justify-center px-24 py-4 bg-white"
              style="height: 142px; min-height: 142px; max-height: 142px;"
            >
              <div class="text-5xl font-semibold text-center text-gray-900">
                Features
              </div>
            </div>
            <div
              class={`flex flex-col items-start justify-center px-24 py-4`}
              style={`height: 666px; min-height: 666px; max-height: 666px;`}
            >
              <div class="flex flex-1 self-stretch items-start justify-start">
                <div class="flex flex-1 self-stretch space-x-12 items-start justify-start">
                  <div class="flex flex-1 self-stretch flex-col items-start justify-center">
                    <div>
                      REALIBLE
                      <br />
                      Handle your tasks <br />
                      stress-free
                      <br />
                      Set reminders to make sure your tasks won't slip away.
                      With easy-to-setup reminders, you can now be certain you
                      would never forget any critical things.
                    </div>
                  </div>
                  <img
                    class={`flex self-stretch flex-col items-start justify-start`}
                    style={`width: 647px; min-width: 647px; max-width: 647px; height: 383.58px; min-height: 383.58px; max-height: 383.58px;`}
                    src="/fimgs/1_1684.x1.png"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class={`flex flex-col items-start justify-center px-24 py-4`}
            style={`height: 666px; min-height: 666px; max-height: 666px;`}
          >
            <div class="flex flex-1 self-stretch items-start justify-start">
              <div class="flex flex-1 self-stretch space-x-12 items-start justify-start">
                <img
                  class={`flex self-stretch flex-col items-start justify-start`}
                  style={`width: 687px; min-width: 687px; max-width: 687px; height: 426.34px; min-height: 426.34px; max-height: 426.34px;`}
                  src="/fimgs/1_1759.x1.png"
                />
                <div class="flex flex-1 self-stretch flex-col items-start justify-center">
                  <div>
                    SIMPLE
                    <br />
                    Get important things done quicker
                    <br />
                    Organize your tasks by arranging crucial ones first.
                    Intuitively prioritize your tasks so you can focus more on
                    the things that truly matters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class={`flex flex-col items-start justify-center px-24 py-4`}
            style={`height: 666px; min-height: 666px; max-height: 666px;`}
          >
            <div class={`flex flex-1 self-stretch items-start justify-start`}>
              <div
                class={`flex flex-1 self-stretch space-x-12 items-start justify-start`}
              >
                <div class="flex flex-1 self-stretch flex-col items-start justify-center">
                  <div>
                    POWERFUL
                    <br />
                    Boost your productivity significantly
                    <br />
                    Analyze and learn how you manage tasks. Through
                    beautifully-presented graph, understand your unique task
                    management style and increase your efficiency remarkably
                  </div>
                </div>
                <img
                  class={`flex self-stretch flex-col items-start justify-start`}
                  style={`width: 626px; min-width: 626px; max-width: 626px; height: 383.58px; min-height: 383.58px; max-height: 383.58px;`}
                  src="/fimgs/1_1782.x1.png"
                />
              </div>
            </div>
          </div>
        </div>
        <div class={`flex self-stretch flex-col items-center justify-center`}>
          <div
            class={`flex self-stretch flex-col items-center justify-center px-24 py-2 bg-green-50`}
          >
            <div class="text-5xl font-semibold text-center text-gray-900">
              Contact
            </div>
          </div>
          <div class="flex flex-col items-start justify-start bg-white">
            <div
              class={`flex space-x-16 items-center justify-center bg-green-50`}
            >
              <div
                class={`flex self-stretch flex-col items-center justify-center p-24`}
                style={`width: 363px; min-width: 363px; max-width: 363px; height: 291px; min-height: 291px; max-height: 291px;`}
              />
              <div
                class={`flex flex-1 self-stretch flex-col items-start justify-center p-5`}
              >
                <div class="flex space-x-8 items-center justify-start">
                  <img
                    class={`flex items-start justify-start`}
                    style={`width: 44px; min-width: 44px; max-width: 44px; height: 44px; min-height: 44px; max-height: 44px;`}
                    src="/fimgs/202_216.x1.svg"
                  />
                  <div class="text-2xl text-gray-700">
                    Jl. Jemur Andayani XV No.3, Jemur Wonosari, Kec. Wonocolo,
                    Kota Surabaya, Jawa Timur 60237
                  </div>
                </div>
                <div class={`flex items-center justify-start`}>
                  <div class="text-2xl text-gray-700">+6231-60018666</div>
                </div>
                <div class="flex items-center justify-start">
                  <div class="text-2xl text-gray-700">cs@andromedia.co.id</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>