<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex self-stretch flex-col items-start justify-start bg-white">
    <div class={`flex items-start justify-start p-2.5`}>
      <div class={`flex flex-col items-start justify-start`}>
        <div class={`flex flex-col items-start justify-start`}>
          <div class={`flex flex-col items-start justify-start p-2.5`}>
            <div
              class={`flex space-x-2.5 items-center justify-start px-6 py-2.5 bg-white shadow`}
            >
              <div class={`flex flex-1 flex-col items-start justify-center`}>
                <div
                  class={`flex items-start justify-start px-1.5 py-2 rounded-2xl`}
                >
                  <div
                    class={`flex flex-col items-start justify-start bg-white`}
                  >
                    <div class="text-xs font-bold leading-normal">
                      YOUR-TODO
                    </div>
                    <img
                      class={`flex flex-col items-start justify-start p-2.5`}
                      style={`width: 52.69px; min-width: 52.69px; max-width: 52.69px; height: 50px; min-height: 50px; max-height: 50px;`}
                      src="/fimgs/201_72.x1.png"
                    />
                  </div>
                </div>
              </div>
              <div class={`flex flex-1 items-center justify-end`}>
                <div class={`flex flex-col items-start justify-start bg-white`}>
                  <button
                    class={`flex flex-col items-start justify-start p-2.5`}
                  >
                    <div class={`flex flex-col items-start justify-start`}>
                      <div />
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class={`flex flex-col items-start justify-start`}>
          <div class={`flex flex-col items-start justify-start`}>
            <img
              src="/fimgs/35_112.x1.png"
              class="flex self-stretch items-center justify-center px-6 py-2.5"
              style="width: 375px; min-width: 375px; max-width: 375px; height: 175px; min-height: 175px; max-height: 175px;"
            />
            <div
              class={`flex self-stretch flex-col items-center justify-center px-6 pt-1 pb-4`}
            >
              <div
                class={`flex flex-1 self-stretch flex-col space-y-1.5 items-center justify-center px-2.5 py-1`}
              >
                <div class="text-xl font-bold leading-loose text-center text-gray-900">
                  Easily schedule your task without any hassle
                </div>
                <button class={`flex flex-col items-start justify-start p-2.5`}>
                  <div
                    class={`flex items-center justify-center px-4 py-2 bg-blue-600 shadow rounded-full`}
                  >
                    <div
                      class={`text-base font-semibold text-center text-gray-50`}
                    >
                      Explore
                    </div>
                  </div>
                </button>
              </div>
            </div>
            <div class="flex self-stretch flex-col items-center justify-center px-6 py-1.5 bg-blue-50">
              <div class="flex flex-1 self-stretch items-center justify-center px-1 py-2.5">
                <div class="text-base font-semibold leading-loose text-center text-gray-700">
                  Makes it easier to plan your tasks and work from anywhere so
                  you never forget anything again.
                </div>
              </div>
            </div>
            <div />
          </div>
          <div
            class={`flex flex-col space-y-4 items-center justify-start px-6 pt-6`}
          >
            <div class="flex self-stretch flex-col items-center justify-center">
              <div class="text-center">
                REALIBLE
                <br />
                Handle your tasks <br />
                stress-free
                <br />
                Set reminders to make sure your tasks won't slip away. With
                easy-to-setup reminders, you can now be certain you would never
                forget any critical things.
              </div>
            </div>
            <img
              class={`flex self-stretch flex-col items-center justify-center`}
              style={`width: 327px; min-width: 327px; max-width: 327px; height: 172px; min-height: 172px; max-height: 172px;`}
              src="/fimgs/46_260.x1.png"
            />
          </div>
          <div class="flex flex-col space-y-4 items-center justify-start px-6 pt-6 bg-gray-50">
            <div class="flex self-stretch flex-col items-center justify-center">
              <div class="text-center">
                SIMPLE
                <br />
                Get important things done quicker
                <br />
                Organize your tasks by arranging crucial ones first. Intuitively
                prioritize your tasks so you can focus more on the things that
                truly matters
              </div>
            </div>
            <img
              class={`flex self-stretch flex-col items-center justify-center`}
              style={`width: 327px; min-width: 327px; max-width: 327px; height: 172px; min-height: 172px; max-height: 172px;`}
              src="/fimgs/50_276.x1.png"
            />
          </div>
          <div class="flex flex-col space-y-4 items-center justify-start p-6">
            <div class="flex self-stretch flex-col items-center justify-center">
              <div class="text-center">
                POWERFUL
                <br />
                Boost your productivity significantly
                <br />
                Analyze and learn how you manage tasks. Through
                beautifully-presented graph, understand your unique task
                management style and increase your efficiency remarkably
              </div>
            </div>
            <img
              src="/fimgs/52_283.x1.png"
              class="flex self-stretch flex-col items-center justify-center"
              style="width: 327px; min-width: 327px; max-width: 327px; height: 172px; min-height: 172px; max-height: 172px;"
            />
          </div>
          <div
            class={`flex flex-col items-start justify-start px-6 py-2.5 bg-green-50`}
          >
            <div class="flex self-stretch flex-col space-y-2.5 items-center justify-center py-2">
              <div class="flex self-stretch items-start justify-start p-2.5">
                <div class="flex flex-1 flex-col space-y-2 items-center justify-start">
                  <div class="flex items-start justify-start px-3 py-2.5">
                    <div class="bg-gray-800" />
                  </div>
                  <div class="text-xs text-center text-gray-700">
                    Jl. Jemur Andayani XV No.3, Jemur Wonosari, Kec. Wonocolo,
                    Kota Surabaya, Jawa Timur 60237
                  </div>
                </div>
              </div>
              <div class={`flex flex-col items-start justify-start bg-white`}>
                <div class="text-xs font-bold leading-normal">YOUR-TODO</div>
                <div class={`flex flex-col items-start justify-start p-2.5`}>
                  <img
                    src="/fimgs/201_67.x1.png"
                    style="width: 32.69px; min-width: 32.69px; max-width: 32.69px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-6d9658381ca150d109ec85d3fb57e0a8b45e07d4');background-size:100% 100%;background-repeat:no-repeat;"
                  />
                </div>
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-center justify-start">
              <div />
              <div class="text-xs text-center text-gray-700">
                +6231-60018666
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-center justify-start">
              <div />
              <div class="text-xs text-center text-gray-700">
                cs@andromedia.co.id
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>